footer {
  background-color: var(--brand-dark);
}

.f-item-con {
  padding: 1.5rem 4rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 2rem;
}

footer .app-name {
  color: white;
  border-left: 4px solid var(--brand-orange);
  padding-left: 1.5rem;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
  
}

.app-name .app-initial {
  color: var(--brand-orange);
}

footer .app-info p {
  color: white;
  padding-left: 1.65rem;
}

footer .footer-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: white;
  border-left: 4px solid var(--brand-orange);
  padding-left: 1.5rem;
  height: fit-content;
}

footer ul {
  padding-left: 1.75rem;
  color: white;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-top: .5rem;
}

footer ul li {
  margin: .25rem 0;
  cursor: pointer;
  color: #d4d4d4;
  width: fit-content;
}

footer ul li:hover {
  color: white;
}

footer .help-sec {
  grid-column-start: 2;
}

footer .cr-con {
  background-color: var(--brand-white);
  color: var(--brand-dark);
  padding: 1rem 4rem;
  text-align: center;
}

.g-i-t {
  display: grid;
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.g-i-t form {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}

form .g-inp {
  padding: .25rem .5rem;
  font-size: 16px;
}

.g-inp textarea {
  height: 150px;
}

.f-btn {
  padding: .25rem 1rem;
  background-color: var(--brand-orange);
  border: none;
  border-radius: .25rem;
  font-size: 16px;
  color: var(--brand-dark);
  font-weight: 500;
}

@media (max-width: 768px) {
  .f-item-con {
      grid-template-columns: 1fr;
      grid-gap: 1rem;
      padding: 1rem 2rem;
  }

  .g-i-t {
      grid-column-start: 1;
      grid-row-start: auto;
      grid-row-end: auto;
  }
}

@media (max-width: 576px) {
  footer .app-name {
      font-size: 1.5rem;
      padding-left: 1rem;
  }

  footer .footer-title {
      font-size: 1rem;
      padding-left: 1rem;
  }

  footer ul {
      padding-left: 1rem;
  }

  footer .cr-con {
      padding: 1rem 2rem;
  }
}